
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@font-face {
    font-family: 'degularbold';
    src: url('../fonts/degular-bold.woff2') format('woff2'),
         url('../fonts/degular-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'degularregular';
    src: url('../fonts/degular-regular.woff2') format('woff2'),
         url('../fonts/degular-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'degularsemibold';
    src: url('../fonts/degular-semibold.woff2') format('woff2'),
         url('../fonts/degular-semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.scroll-to-top {
  position: fixed;
  right: 15px;
  bottom: 3px;
  display: none;
  width: 50px;
  height: 50px;
  text-align: center;
  color: white;
  background: rgba(52, 58, 64, 0.5);
  line-height: 45px;
}

.scroll-to-top:focus, .scroll-to-top:hover {
  color: white;
}

.scroll-to-top:hover {
  background: #343a40;
}

.scroll-to-top i {
  font-weight: 800;
}

.o-hidden {
  overflow: hidden !important;
}

.z-0 {
  z-index: 0;
}

.z-1 {
  z-index: 1;
}
#mainNav.bg-light .page-header h1 {
  font-size: 23px;
  color: #2E2D60;
  font-family: 'degularsemibold';
}
#mainNav .navbar-collapse {
  overflow: auto;
  max-height: 75vh;
}
#mainNav .navbar-collapse .navbar-nav .nav-item .nav-link {
  cursor: pointer;
  border-right: 1px solid #d7d6dc;
  padding: 0 10px;
  font-size: 17px;position: relative;
  line-height: 23px;color: #2E2D60;
  font-family: 'degularsemibold';
  text-transform: capitalize;
}
#mainNav .navbar-collapse .navbar-nav .nav-item .nav-link i {
  margin-right: 10px;
}
#mainNav .navbar-collapse .navbar-nav .nav-item .nav-link .badge-warning {
  color: #fff;
  background-color: #FF6D6D;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  font-family: 'degularsemibold';
  height: 20px;
  width: 20px;
  position: absolute;
  top: -5px;
  right: -12px;
  padding: 0;
}
#mainNav .navbar-collapse .navbar-nav .nav-item .nav-link#alertsDropdown {
  padding: 0;
  margin: 0 !important;
}
#mainNav .navbar-collapse .sidenav-toggler {
  display: none;
}

#mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link {
  position: static;
  min-width: 45px;
}

#mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link .indicator {
  position: absolute;
  top: 5px;
  left: 21px;
  font-size: 10px;
}
#mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown .dropdown-menu > .dropdown-item > .dropdown-message {
  overflow: hidden;
  max-width: none;
  text-overflow: ellipsis;
}

#mainNav.fixed-top .sidenav-toggler {
  display: none;
}

#mainNav.fixed-top.navbar-light .sidenav-toggler {
  background-color: #dee2e6;
}

#mainNav.fixed-top.navbar-light .sidenav-toggler a i {
  color: rgba(0, 0, 0, 0.5);
}

body.sidenav-toggled #mainNav.fixed-top .sidenav-toggler {
  overflow-x: hidden;
  width: 55px;
}

body.sidenav-toggled #mainNav.fixed-top .sidenav-toggler .nav-item,
body.sidenav-toggled #mainNav.fixed-top .sidenav-toggler .nav-link {
  width: 55px !important;
}

body.sidenav-toggled #mainNav.fixed-top #sidenavToggler i {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: 'FlipH';
}

#mainNav.static-top .sidenav-toggler {
  display: none;
}

body.sidenav-toggled #mainNav.static-top #sidenavToggler i {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: 'FlipH';
}

.content-wrapper {
  background: #f5f5f5;
  margin-top: 0;
  padding: 90px 0;
  margin-left: 195px;
}
#sidenavToggler i {
  font-weight: 800;
}

.navbar-sidenav-tooltip.show {
  display: none;
}

body.sidenav-toggled .navbar-sidenav {
  width: 55px;
}

body.sidenav-toggled .navbar-sidenav .nav-link-text {
  display: none;
}

body.sidenav-toggled .navbar-sidenav .nav-item,
body.sidenav-toggled .navbar-sidenav .nav-link {
  width: 55px !important;
}

body.sidenav-toggled .navbar-sidenav .nav-item:after,
body.sidenav-toggled .navbar-sidenav .nav-link:after {
  display: none;
}

body.sidenav-toggled .navbar-sidenav .nav-item {
  white-space: nowrap;
}

body.sidenav-toggled .navbar-sidenav-tooltip.show {
  display: flex;
}

#mainNav.navbar-light .navbar-collapse .navbar-sidenav .nav-link-collapse:after {
  color: rgba(0, 0, 0, 0.5);
}

#mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item > .nav-link {
  font-family: 'degularsemibold';
  font-size: 16.6649px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #8e96a3;border: none;
  margin: 0px 20px 19px;
  padding: 0;
}

#mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item > .nav-link:hover {
  color: #fff;
}
#mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item > .nav-link svg {
  margin-right: 15px;
}
#mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item > .nav-link:hover svg,
#mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item > .nav-link:hover svg path,
#mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item > .nav-link:hover svg rect,
#mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item.active > .nav-link svg,
#mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item.active > .nav-link svg path,
#mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item.active > .nav-link svg rect{
  stroke: #06BEF6;
}

#mainNav.navbar-light .navbar-collapse .navbar-sidenav li.active a {color: #fff !important; }


#mainNav.navbar-light .navbar-collapse .navbar-sidenav li.active a:focus, 
#mainNav.navbar-light .navbar-collapse .navbar-sidenav li.active a:hover {color: #fff; }

#mainNav.bg-light {
  background-color: #fff !important;padding:12px 6% 12px 15px;width: 100%;border-bottom: 1px solid #E7E7EB;
}

#mainNav.navbar-light .navbar-collapse .navbar-sidenav {background: #202F4D; }
 
#mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown .dropdown-menu {
  position: absolute;
  top: 100%;
  z-index: 1000;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  right: 0;left: auto;
}

.card-body-icon {
  position: absolute;
  z-index: 0;
  top: -25px;
  right: -25px;
  font-size: 5rem;
  -webkit-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  transform: rotate(15deg);
}

.card-login {
  max-width: 25rem;
}

.card-register {
  max-width: 40rem;
}

#cal table#days {
  display: none;
}


div.dataTables_wrapper div.dataTables_paginate {
  margin: 0;
  white-space: nowrap;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 0 30px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
div.dataTables_wrapper div.dataTables_info {
  padding-top: 0;
  width: 100%;line-height: 70px;
  text-align: center;
  height: 70px;
}
.appointments-box .dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
  font-family: degularregular;
  font-size: 14px;
  line-height: 24px;
  color: #37364D !important;
  background: #FFFFFF;
  border: 1px solid #E9E9E9;
  box-sizing: border-box;
  box-shadow: 0px 4px 7px rgba(55, 54, 77, 0.09);
  border-radius: 4px;
}
div.dataTables_wrapper div.dataTables_paginate .paginate_button {
  background: #FFFFFF;
  border: 1px solid #E9E9E9;
  box-sizing: border-box;
  box-shadow: 0px 4px 7px rgba(55, 54, 77, 0.09);
  border-radius: 4px;
}
div.dataTables_wrapper div.dataTables_paginate #myTable_previous {
  float: left;
}
div.dataTables_wrapper div.dataTables_paginate #myTable_next {
  background: #FFFFFF;
border: 1px solid #E9E9E9;
box-sizing: border-box;
box-shadow: 0px 4px 7px rgba(55, 54, 77, 0.09);
border-radius: 4px;
}
table.dataTable thead .sorting::before, table.dataTable thead .sorting_asc::before, table.dataTable thead .sorting_desc::before, table.dataTable thead .sorting_asc_disabled::before, table.dataTable thead .sorting_desc_disabled::before {
  display: none;
}
table.dataTable thead .sorting::before, table.dataTable thead .sorting::after, table.dataTable thead .sorting_asc::before, table.dataTable thead .sorting_asc::after, table.dataTable thead .sorting_desc::before, table.dataTable thead .sorting_desc::after, table.dataTable thead .sorting_asc_disabled::before, table.dataTable thead .sorting_asc_disabled::after, table.dataTable thead .sorting_desc_disabled::before, table.dataTable thead .sorting_desc_disabled::after {
 
  display: none;
}
.appointments-box .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  border: 1px solid #f5f5f5;
background: transparent !important;
color: #37364D !important;
}
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc {
  background: none !important;
}
.appointments-box #myTable_length,.appointments-box #myTable_filter {
  display: none;
}

.appointments-box .form-control.js-special-tags {
  background: url(/img/arrow-down.png);
  -moz-appearance: none;
  -webkit-appearance: none;
  background-repeat: no-repeat;
  background-position: 85% center;
  font-size: 12.3537px;
  color: #2E2D60;
  font-family: 'degularsemibold';
  text-transform: capitalize;
  border: 0.882404px solid #E9E9E9;
  box-sizing: border-box;float: right;
  border-radius: 3.52961px;width: 91.96px;
  box-shadow:0 3px 3px 0px #f5f5f5;background-size: 9px;
}


.appointments-box .card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 0;
}
.appointments-box table.dataTable thead th, .appointments-box table.dataTable thead td {
  padding: 10px 30px;
  border-bottom: none;
}
.appointments-box table.dataTable tbody th, .appointments-box table.dataTable tbody td {
  padding: 16px 30px;
  font-family: degularregular;
  font-size: 15px;
  line-height: 20px;
  color: #2E2D60;
}
.appointments-box .table-hover tbody tr:hover {
  background: #E8F3F3;
  box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.04);
}
.appointments-box table.dataTable.no-footer {
  border-bottom: none;
  margin: 0 !important;
}
.appointments-box .card-header {
  padding:1.0rem 30px;
  margin-bottom: 0;
  background-color: #fff;
  border-bottom: none;
}
.appointments-box .title-tag h5 {
  margin: 0 !important;
  font-size: 21px;
  line-height: 28px;
  color: #2E2D60;
  font-family: 'degularsemibold';
}
table.dataTable tbody tr:last-child td {
  border-bottom: 1px solid #DADADA;
}
.appointments-box table.dataTable.no-footer thead th {
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 0.19em;
  color: #2E2D60;
  font-family: 'degularregular';
}
/*div.dataTables_wrapper div.dataTables_paginate span {
  display: none;
}*/
div.dataTables_wrapper div.dataTables_paginate span a {
  display: none !important;
  opacity: 0;
}
.card {
  border: 1px solid #DADADA;
  box-sizing: border-box;
  box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.04);
  border-radius: 3px;
}
.calendar-box .card.consultation {
  margin-top: 30px;
}
.calendar-box .card-header {
  display: flex;
  background: #fff;
}
.calendar-box .card-header h5 {
  margin: 0 !important;
  font-size: 21px;
  line-height:45px;
  color: #2E2D60;
  font-family: 'degularsemibold';
}
.calendar-box .card.consultation .card-body p {
  font-family: degularsemibold;
  font-size: 16px;
  line-height: 15px;
  color: #2E2D60;
  margin-bottom: 8px;
}
.calendar-box .card.consultation .card-body h4 {
  margin: 0;
  font-family: degularsemibold;
  font-size: 29px;
  line-height:22px;
  color: #2E2D60;
}
.calendar-box .card.consultation .card-body .btn-wrap a {
  background: #06BEF6;
  box-shadow: 0px 4px 7px rgba(55, 54, 77, 0.09);
  border-radius: 4px;
  font-family: degularsemibold;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
  border: none;
  text-transform: capitalize;
  min-width: 130.97px;
  padding: 5px 15px;
  margin-top: 15px;
}
.calendar-box .card.consultation .card-body .btn-wrap a:hover {
  background: #202f4c;
 
}
.calendar-box .card #calendar {
  padding-bottom: 10px;
}
.calendar-box .card.consultation .card-body .btn-wrap a i {
  float: right;
  line-height: 25px;
  font-weight: 800;
}
.earning-box .earning-details .earning-list li span i.fas.fa-long-arrow-alt-down {
  color: #E07979;
}
.navbar-nav.mobile-top{display: none;}
.content-wrapper .page-header {display: none; }
.appointments-box .table-responsive {display: table; }



.title-header h1 {
  font-family: degularsemibold;
  font-size: 49px;
  line-height: 35px;
  color: #2E2D60;
}
.title-header p {
  font-family: degularregular;
  font-size: 26px;
  line-height: 25px;
  color: #2E2D60;
  opacity: 0.6;
  margin-top: 22px;
}
.user-edit a {
  font-family: 'degularregular';
  font-size: 20px;
  line-height: 27px;
  color: #2E2D60;
}
.user-edit a i {
  margin-left: 5px;
}

.user-edit .btn-wrap a {
  background: #06BEF6;
  box-shadow: 0px 4px 7px rgba(55, 54, 77, 0.09);
  border-radius: 4px;
  font-family: degularsemibold;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
  border: none;
  text-transform: capitalize;
  min-width: 164px;
  padding: 5px 15px;
  margin-top: 15px;
}
.user-edit .btn-wrap a:hover {
  background: #202f4c;
}
.user-edit .btn-wrap a i {
  float: right;
  line-height: 24px;
  display: block;
}
.earning-chart {
  background: #202f4c;
  min-height: 100%;
  position: relative;
}
.earning-chart canvas {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  position: absolute;
  bottom: 0;height: 247px !important;
}
.earning-chart .aspect-ratio .chart-caption .js-special-tags {
  background-image: url(/img/arrow-down.png);
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-size: auto;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-repeat: no-repeat;
  background-position: 85% center;
  font-size: 12.3537px;
  color: #2E2D60;
  font-family: 'degularsemibold';
  text-transform: capitalize;
  border: 0.882404px solid #E9E9E9;
  box-sizing: border-box;
  float: right;
  border-radius: 3.52961px;
  width: 91.96px;
  background-size: 9px;
  background-color: #fff;
}


.earning-box .earning-details {
  padding: 0;
}
.earning-box .earning-details .earning-list {
  padding: 0;
  list-style: none;
  margin: 0;
}
.earning-box .earning-details .earning-list li {
  padding: 20px 25px;
  border-bottom: 1px solid #E9E9E9;
}
.earning-box .earning-details .earning-list li p {
  font-size: 22px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #2E2D60;
  margin-bottom: 15px;
  font-family: 'degularregular';
}
.earning-box .earning-details .earning-list li h5 {
  font-family: degularsemibold;
 
  font-size: 28px;
  display: flex;
  align-items: center;
  color: #2E2D60;
  margin: 0;
  line-height: 25px;
}
.earning-box .earning-details .earning-list li span {
  font-family: degularregular;
 
  font-size: 14px;
  display: flex;
  align-items: center;
  color: #2E2D60;
  margin: 0;
  line-height: 25px;
}
.earning-box .earning-details .earning-list li span i {
  color: #4BD0B8;
  margin-right: 5px;
}
.earning-box .earning-wrap,.title-header {
  padding-right: 0;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 62.667%;
  flex: 0 0 62.667%;
  max-width: 62.667%;
}
.earning-box {
  margin-top: 70px;
}
.content-wrapper .title-wrap {
  margin-top: 35px;
}
.earning-chart .aspect-ratio .chart-caption {
  position: absolute;
  width: 100%;
  padding: 45px 40px;
  background: #202f4c;
  z-index: 9;
}
.earning-chart .aspect-ratio .chart-caption h1 {
  font-family: degularsemibold;
  font-size: 44px;
  line-height: 22px;
  color: #FFFFFF;
}
.earning-chart .aspect-ratio .chart-caption h1 span {
  
  font-size: 16.5421px;
}
.earning-chart .aspect-ratio .chart-caption h1 span i {
  color: #4BD0B8;
  
}
.earning-chart .aspect-ratio .chart-caption p {
  font-family: degularsemibold;
  font-size: 22px;
  line-height: 32px;
  color: #04C6FF;
  opacity: 0.95;
  margin: 0;
}
/*responsive start*/


@media (min-width: 576px) {
  .card-columns {
    column-count: 1;
  }
}

@media (min-width: 768px) {
  .card-columns {
    column-count: 2;
  }
}
.heading-wrap h5 {
  margin-bottom: 19px;
  font-size: 21px;
  line-height: 28px;
  color: #2E2D60;
  font-family: 'degularsemibold';
}

@media (min-width: 992px) {
  #mainNav .navbar-brand {
    width: 250px;padding: 0;
    position: relative;
    z-index: 99;
  }
  #mainNav .navbar-collapse {
    overflow: visible;
    max-height: none;
  }
  #mainNav .navbar-collapse .navbar-sidenav {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 0px;
    padding-top: 120px;
  }
  #mainNav .navbar-collapse .navbar-sidenav > .nav-item {
    width: 195px;
    padding: 0;
  }
  #mainNav .navbar-collapse .navbar-sidenav > .nav-item > .nav-link {
    padding: 1em;
  }
  #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link {
    min-width: 0;
  }
  #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link:after {
    display: none;
  }
  #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown .dropdown-menu > .dropdown-item > .dropdown-message {
    max-width: 300px;
  }
  #mainNav .navbar-collapse .navbar-nav .nav-item:last-child .nav-link,#mainNav .navbar-collapse .navbar-nav .nav-item:nth-last-child(2) .nav-link {
  border: none;
  }
  #mainNav.fixed-top .navbar-sidenav {
    height: calc(100vh);
  }
  #mainNav.fixed-top .sidenav-toggler {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: calc(100vh - 56px);
  }
  #mainNav.fixed-top .sidenav-toggler > .nav-item {
    width: 250px;
    padding: 0;
  }
  #mainNav.fixed-top .sidenav-toggler > .nav-item > .nav-link {
    padding: 1em;
  }
  #mainNav.static-top .sidenav-toggler {
    display: flex;
  }

   body.sidenav-toggled .content-wrapper {
    margin-left: 55px;
  }
}
@media (min-width: 1200px) {
  .card-columns {
    column-count: 2;
  }
}



@media (max-width: 991px) {
  .navbar-nav.mobile-top .dropdown-menu .nav-link i {
  margin-right: 10px;
}
  #mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item:last-child .nav-link {
  border: none;
  padding-bottom: 0;
}
  #mainNav .navbar-collapse .navbar-nav.user-nav {
  display: none;
}
.earning-box .earning-details {
  padding: 0 15px;
}
  .user-edit {
  width: 100%;
  padding: 0 15px;
  margin-top: 30px;
}
.earning-box .earning-wrap, .title-header {
  padding-right: 15px !important;
  padding-left: 15px !important;
}
  .earning-chart .aspect-ratio .chart-caption h1 {
  font-size: 40px;
}
.earning-chart .aspect-ratio .chart-caption p {
  font-size: 20px;
}
  .earning-chart canvas {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  position: static;
  bottom: 0;
  height: auto;
}
.earning-chart .aspect-ratio .chart-caption {
  padding: 25px 40px;position: static;
}
  .heading-wrap h5 {
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 20px;
 
}
  .content-wrapper .page-header {
  display: block;margin-bottom: 20px;
  background: #fff;
  padding: 10px 0;
}
.appointments-box {
  margin-top: 30px;
}
.calendar-box .card-header h5 {
  line-height: 25px;
}
.content-wrapper .page-header h1 {margin: 0;
color: #2E2D60;
font-family: 'degularsemibold'; }

.navbar-nav.mobile-top li .user-badge{position: relative;}

.navbar-nav.mobile-top li .user-badge .badge-warning {
  color: #fff;
  background-color: #FF6D6D;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  font-family: 'degularsemibold';
  height: 20px;
  width: 20px;
  position: absolute;
  top: -5px;
  right: -12px;
  padding: 0;
}
.navbar-nav.mobile-top li:last-child a, .navbar-nav.mobile-top li:nth-last-child(2) a {
  border: none;
}

  .navbar-nav.mobile-top .dropdown-menu .nav-link {color: #202F4D !important;text-transform: capitalize; }

  .navbar-nav.mobile-top li a {font-family: 'degularsemibold';border-right: 1px solid #ccc; padding: 0 10px; color: #fff !important; }

  .navbar-nav.mobile-top {display: block; width: 80%; text-align:right ; }

  .navbar-nav.mobile-top .dropdown-menu {position: absolute; float: none; width: 100%; margin: 0; }

  .navbar-nav.mobile-top li {display: inline-block; position:static; ; }

  .navbar-nav.mobile-top li a::after {display: none; }

  #mainNav .navbar-collapse .navbar-nav .nav-item .nav-link {border-right: none; padding: 0 0px; color: #8e96a3; }

  #mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item > .nav-link {
    margin: 0px 0px 0px;
    padding: 12px 10px;
    border-bottom: 1px solid;
  }

  #hamburger {
    height: 25px;
    width: 25px !important;
    border: none;
    outline: none;
    padding: 0;
    text-align: center;
    position: relative;
  }

  #hamburger span {transition-duration: 0.3s; transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);}

  #hamburger.open span {transform: rotate(225deg); transition-delay: 0.14s; transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }

  #hamburger span::before {transition: top 0.1s 0.34s ease-in, opacity 0.1s ease-in, background-color 0.15s ease;}

  #hamburger span::after {transition: bottom 0.1s 0.34s ease-in, transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19) , background-color 0.15s ease; }

  #hamburger span::after {bottom: -7px; }

  #hamburger span::before, #hamburger span::after {content: ""; display: block; }

  #hamburger span, #hamburger span::before, #hamburger span::after {
    width: 20px;
    height: 2px;
    background-color: #ffffff;
    border-radius: 3px;
    position: absolute;
    transition: transform 0.15s ease;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  #hamburger span::before {top: -7px;transition: top 0.1s 0.34s ease-in, opacity 0.1s ease-in, background-color 0.15s ease; }

  #hamburger.open span::before {background-color: #ffffff; top: 0; opacity: 0; transition: top 0.1s ease-out, opacity 0.1s 0.14s ease-out, background-color 0.15s ease; }

  #hamburger.open span::after {bottom: 0; transform: rotate(-90deg); transition: bottom 0.1s ease-out, transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0.15s ease; }

  .navbar-toggle {margin-right: 25px !important; width: 30px !important; }

  .page-header {display: none; }

  .content-wrapper {padding: 90px 0; margin-left: 0; }

  #mainNav.bg-light {background-color: #202F4D !important; padding: 15px 15px 15px 15px; }


  .earning-box .earning-wrap, .title-header {
  padding-right: 0;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
}

@media(max-width: 767px){
.appointments-box table.dataTable tbody th, .appointments-box table.dataTable tbody td {
  padding: 16px 15px;
}

}


@media(max-width: 575px){
  .earning-box .earning-details .earning-list li h5 {
  font-size: 25px;
}
  .earning-box .earning-details .earning-list li p {
  font-size: 18px;
}
  .earning-box .earning-details .earning-list li {
  padding: 10px 10px;
}
  .earning-chart .aspect-ratio .chart-caption h1 {
  font-size: 25px;margin: 0;
}
.earning-chart .aspect-ratio .chart-caption p {
  font-size: 15px;line-height: 22px;
}
  .earning-chart .aspect-ratio .chart-caption {
  padding: 10px 10px;
}
  .earning-box {
  margin-top: 40px;
}
  .user-edit .btn-wrap a {
  min-width: 145px;
}
  .user-edit a i {
  margin-left: 3px;
  font-size: 14px;
}
  .user-edit {
  margin-top: 15px;
}
  .user-edit a {
  font-size: 18px;
}
  .title-header p {font-size: 18px; line-height: 15px; margin-top: 0px; }

  .title-header h1 {
  font-size: 28px;
  line-height: 30px;
}
.content-wrapper .page-header h1 {
  margin: 0;
  font-size: 22px;
}
.heading-wrap h5 {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 18px;
}
  .navbar-nav.mobile-top {width: auto; }

  .navbar-nav.mobile-top li .user-badge .badge-warning {
  font-size: 13px;
  line-height: 14px;
  height: 15px;
  width: 15px;
  top: -5px;
  right: -2px;
 }

 .appointments-box table.dataTable thead th, .appointments-box table.dataTable thead td {
  padding: 10px 10px;
}
.appointments-box table.dataTable tbody th, .appointments-box table.dataTable tbody td {
  padding: 15px 10px;
}

.appointments-box .form-control.js-special-tags {
  background-position: 95% center;
  width: 100%;
  background-size: 10px;
  margin-top: 10px;
}

}

@media(max-width: 390px){
.appointments-box .table-responsive {
  display: block;
}
div.dataTables_wrapper div.dataTables_paginate {
  padding: 0 15px;
}
.appointments-box .dataTables_wrapper .dataTables_paginate .paginate_button,div.dataTables_wrapper div.dataTables_paginate #myTable_next,div.dataTables_wrapper div.dataTables_paginate #myTable_previous {
  font-size: 12px;
  line-height: 20px;
}
}